<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О бизнес-аккаунте!</title>
</head>
<body>
<h1>О бизнес-аккаунте</h1>
	
Бизнес-аккаунт, что это такое?<br>

Это Ваш индивидуальный аккаунт в приложении ТезСат, где Вам будет удобно вести бизнес.<br><br>

Какие преимущества имеет Бизнес-аккаунт в отличии от простого аккаунта?<br>

1. Обьявления будут автоматически подниматься вверх, без нажатия кнопки «поднять объявление». Это поможет охватить большую аудиторию.<br><br>
2. Рейтинговая система, в котором Ваше объявление могут оценить и написать отзыв. Чем выше рейтинг Вашего объявления, тем больше потенциальных клиентов. Объявления бизнес-аккаунта с высоким рейтингом имеют возможность поднятия объявления более чем 3 раза в сутки.<br><br> 
3. Площадки для связи с вашим бизнесом: 3 номера телефона, What’sApp, instagram, facebook, telegram, web сайт.<br><br>
4. При входе в ваше объявление с ленты, клиент не увидит похожие объявления снизу, что позволит другим вашим объявлениям охватить большую аудиторию.<br><br>
5. Если ваше объявление понравится кому-либо, они могут выразить свою реакцию на объявление, нажав на сердечко (лайкнуть). Это, в свою очередь, поможет повысить вашу рейтинговую систему.<br><br>
6. У вас есть возможность украсить свой профиль и получить специальный значок для вашего бизнес-аккаунта.<br><br>
7. Вы можете видеть общую статистику вашего профиля для анализа.<br><br>
	
Для кого предназначен бизнес-аккаунт?<br>

1. Для малых, средних и крупных предпринимателей<br><br>
2. Для физических лиц, занимающихся обычной торговлей<br><br>

Как открыть бизнес-аккаунт?<br>

В разделе настройки перейдите в раздел «Бизнес-аккаунт» и заполните поля, необходимые для подключения к бизнес-аккаунту.<br><br>
В приложении вы пишете свои данные, контактный телефон и цель, для которой вы открываете бизнес-аккаунт и отправляете запрос. Специалисты проверят и свяжутся с вами, а затем активируют ваш бизнес-аккаунт.<br><br>

Взимается ли плата за открытие бизнес-аккаунта?<br>

Нет, это бесплатно.<br><br>


</body>
</html>
