<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Бизнес-аккаунт жөнүндө</title>
</head>
<body>
<h1>Бизнес-аккаунт жөнүндө</h1>

Бизнес-аккаунт деген эмне?<br><br>

Бул сиздин TezSat тиркемесиндеги бизнес жүргүзүүгө ылайыкталган жеке баракчаңыз.<br><br>

Бизнес-аккаунтун жөнөкөй аккаунтка караганда кандай артыкчылыктары бар?<br>

1.  Жарыялар автоматтык түрдө жаңыланып жогору көтөрүлүп турат. Бул сиздин жарыяңызды көп колдонуучулар көрүшүнө жардам берет.<br><br>
2.	Рейтингдик система же атаандаштык системасы. Бул сиздин жарыяңыздын алдындагы жылдызчалар жана ой-пикир калтыруу системасы. Эгерде сиздин жарыяңыздын рейтинги канчалык жакшы болсо, ошончолук жарыяларыңызды көп колдонуучулар көрүшөт. Анкени эң жогорку рейтингдеги бизнес-аккаунтартын жарыялары күнүнө 3 же андан көп жолу көтөрүлүү мүмкүнчүлүгүнө ээ болот.<br><br> 
3.	Бизнеске керектүү болгон байланыш талаалары: 3 байланыш номуруңузду калтыруу, what’sapp, instagram, facebooke, wep сайт, telegram.<br><br>
4.	Лентадан сиздин жарыяңызга киргенде, алды жагынан башкалардын окшош жарыялары көрүнбөйт, бул сиздин башка жарыяларыңызды көрүүгө шарт түзөт.<br><br>
5.	Сиздин жарыяңыз эгерде башка бирөөлөргө жөн гана жаккан учурда, жүрөкчөнү басып өзүнүн жарыяга болгон мамилесин билгизгенге болот. Бул да болсо сиздин рейтингдик системаңыздын көтөрүлүшүнө жардам берет.<br><br>
6.	Профилиңизди кооздо мүмкүнчүлүгү бар жана бизнес-аккаунт үчүн өзгөчө белги берилет.<br><br>
7.	Анализдеп талдоо үчүн сиздин профилиңиздин жалпы статистикасын көрө аласыз.<br><br>

Бизнес-аккаунт кимдер үчүн?<br>

1.	Кичи, орто жана чоң ишкерлер үчүн<br><br>
2.	Туруктуу соода-сатык менен алектенген жеке жактар үчүн<br><br>

Кантип бизнес-аккаунт ачса болот?<br><br>

Тескөө бөлүмүнөн Бизнес-аккаунт деген бөлүкчөгө кирип бизнес-аккаунтка кошулууга керектүү талааларды толтуруп билдирме жибересиз.<br><br>
 Билдирмеде аты-жөнүңүздү, байланыш телефонуңузду жана эмне максатта ачып жатканыңыз жөнүндө жазып ТезСат тиркемесинин башкармалыгына кароого жибересиз.  Адистер карап чыгып сиз менен байланышып, андан кийин провилди бизнес-аккаунтту активдештирип беришет.<br><br>

Бизнес-аккаунт ачууга акча төлөнөбү?<br><br>

Жок, баары бекер.<br>



</body>
</html>
