<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Инструкция жана колдонмо</title>
</head>
<body>
<h1>Көрсөтмө жана колдонмо</h1>
Саламатсызбы, урматтуу колдонуучу!<br><br>

Жарыя берүүнү, товар сатып алууну же жарыя берген киши менен байланышууну кааласаңыз, сиз каттоодон өтүшүңүз зарыл. <br><br>

Бул үчүн тиркеменин алдыңкы оң бурчундагы “Профиль” белгисин басып, ачылган экрандан "Каттоо" деген баскычты басып, каттоо жолун тандаңыз.<br><br>

Каттоо өтүү үчүн төрт жол бар:<br><br>

1. Телефон номуруңуз аркылуу<br>
 Атыңызды , телефон номуруңузду +996 коду менен баштап жазыңыз  жана  cыр сөзүңүздү эки жолу териңиз. Номурунузга  6 сандан турган СМС-код келет. Каттоону аякташ үчүн ошол кодду тиркемеде  ачылган аянтчага жазуу керек. Макулдашуу кутучасын белгилеп, "Каттоо" деген баскычты басыңыз.<br><br>

2. Электрондук почта аркылуу<br>
 Атыңызды, почтанын дарегин жана cыр сөзүңүздү эки жолу кайталап териңиз . Почтаңызга тастыктоо шилтемеси келет. Шилтемени басып, каттоону аяктайсыз. Белгилей кетчү нерсе: Сиздин почтаңыз тиркеме орнотулган уюлдук телефондо болгону зарыл!<br><br>

3. Facebook аркылуу.  Facebook баскычын басып, көрсөтмөгө ылайык өтүңүз.<br>
4. Gmail аркылуу.  Gmail баскычын басып, көрсөтмөгө ылайык өтүңүз.<br><br>

Каттоодон ийгиликтүү өткөнүңүздөн кийин, тиркеменин толук мүмкүнчүлүктөрүн колдоно аласыз!<br><br>

Сиз:<br>
1. Керек болгон жарыяны "жылдызчаны" басуу аркылуу тандалмаларыңызга кошо аласыз!<br>
2. Ар бир кардар же сатуучу менен чат аркылуу баарлаша аласыз.<br>
3. Телефон чалып, жарыя ээси менен сүйлөшө аласыз.<br>
4. Жарыя киргизген болсоңуз, аны канча адам көргөнүн биле аласыз.<br><br>

Жарыяны кантип берсеңиз болот?<br><br>

Мисалга, Сиз жылкыңызды сатайын деп жатасыз. Ал үчүн башкы беттеги «+» белгисин басып, сүрөттөрүн киргизиңиз жана жайгашкан жерин тандаңыз. Андан соң керектүү бөлүктү тандаңыз: “Айыл чарба” ; “Үй-жаныбарлары”; “Жылкы”. Жазуу үчүн бош аянтчаларды толтуруңуз жана жылкы жөнүндө жазыңыз. Сөзсүз байланышуу контакттарын жана товардын баасын  жазыңыз.<br>
Толтуруп бүткөн соң "Жарыя берүү" деген баскычты басыңыз, жарыяңыз автоматтык түрдө кароого өтөт. <br><br>

Эмне себептен ар бир айылдын тургуну үчүн ыңгайлуу? <br>
Анткени Сиз " Жөндөөгө" кирип, аймакты тандасаңыз болот. Бул учурда, Сиз ар дайым ушул эле аймактын жарыяларын гана көрөсүз.<br><br>

«Жөндөөдөн» бөлүктү тандоо деген жерден "Айыл чарбаны" тандаcаңыз, айыл чарба тармагындагы жарыяларды гана көрcөтөт. Сизге кызыгы жок жарыяларды көрбөйсүз.<br><br>

TezSat - бул элдик тиркеме!<br><br>

Биз соода-сатык тармагына шарт түзүү менен элдин жашоо деңгээлин жакшыртабыз!<br>

</body>
</html>