<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Инструкция и руководство</title>
</head>
<body>
<h1>Инструкция и руководство</h1>
Приветствуем, уважаемый пользователь!<br><br>

Если Вы хотите разместить объявление, купить или связаться с автором объявления, то Вам необходимо зарегистрироваться.<br><br>

Для этого Вам нужно нажать в правом нижнем углу на иконку “Профиль”, и на экране высветится кнопка “Регистрация”. Нажмите на нее и выберите способ регистрации.<br><br>

Есть четыре способа регистрации:<br><br>

1.	С помощью номера телефона<br>
Введите имя и номер телефона, начиная с кода +996 и наберите пароль два раза.<br>
Вам поступит СМС-уведомление с 6-значным кодом. Нужно ввести данный код в открытое поле для завершения регистрации. Далее выбрать “Пользовательское соглашение” и нажать “Регистрация”.<br><br>

2.	  С помощью электронной почты<br>
           Введите имя, адрес электронной почты и наберите пароль два раза. На Вашу почту
           будет отправлена ссылка для подтверждения. Перейдя по ссылке Вы завершаете
           регистрацию.
           Примечание: Ваша почта должна быть в мобильном телефоне, на котором
           установлено приложение!<br><br>

3.	С помощью Facebook<br>
Нажмите на кнопку и следуйте инструкции.<br><br>

4.	С помощью Gmail<br>
Нажмите на кнопку и следуйте инструкции.<br><br>

После успешной регистрации, Вы сможете пользоваться всеми возможностями приложения.<br><br>

    Вы сможете:<br>
1.	Нажав на “звездочку”, добавить нужное объявление себе в “Избранное”.<br>
2.	С каждым клиентом либо продавцом общаться в личном чате.<br>
3.	Позвонить клиенту или автору объявления.<br>
4.	Узнать сколько людей просмотрело Ваше объявление.<br><br>

Как подать объявление?<br><br>

К примеру, Вы хотите продать лошадь. Для этого нажмите на главном экране знак «+» , загрузите фотографии и укажите местоположение. Далее выберите нужную категорию: “Агробазар”; “Животные и птицы”; “Лошадь”. Заполните поля для описания и опишите Вашу лошадь. Обязательно укажите контакты для связи и цену товара.<br>
По окончанию нажмите на “Подать объявление” и оно автоматически перейдет на рассмотрение.<br><br>

Почему Tez Sat удобно для каждого жителя региона?<br>
Вы можете выбрать регион, зайдя в “Настройки”. В этом случае, Вы всегда будете видеть объявления только Вашего региона.<br><br>

В “Настройках” выбрав категорию “Агробазар” Вы будете видеть объявления только сельскохозяйственного сектора. Вы не будете видеть неинтересные Вам объявления.<br><br>

Tez Sat - это народное приложение! <br><br>

Создавая условия для торговли, мы улучшаем уровень жизни людей!<br>

</body>
</html>