<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пользовательское соглашение</title>
</head>
<body>
<p style="text-align:center; font-size:18px" ><strong>Колдонуучу менен келишим жана купуялуулук саясаты</strong></p>
<p>&nbsp;</p>
<p>Ушул Колдонуучу менен Келишим, Колдонуучунун Макулдашуусунда көрсөтүлгөн шарттарда, жарнамаларды издөө, көрүү жана /
    же жарыялоо максатында, Кызматты пайдаланууга байланыштуу Администрация менен Колдонуучулардын ортосундагы
    мамилелерди жөнгө салат. Ушул Колдонуучунун келишиминин ажырагыс бөлүгү жана Купуялуулук саясаты болуп саналат.</p>
<p>&nbsp;</p>
<ol>
    <li><strong> Терминдер жана аныктамалар</strong></li>
</ol>
<p>1.1.&nbsp; Ушул Колдонуучунун Келишиминин (мындан ары - Макулдашуу) максаттары үчүн ылдыйда келтирилген шарттар
    төмөндөгүдөй мааниге ээ:</p>
<p>1.1.1<strong>. Авторизация</strong> - бул Колдонуучунун каттам эсеп, жабык бөлүмдөрүнө жана Кызматтын кеңейтилген
    иштешине мүмкүнчүлүк алуу үчүн Колдонуучунун логинин / уюлдук телефон номурун (же башка маалыматтарды) жана сыр
    сөздү киргизүү менен катталган Колдонуучуну аныктоо процесси.</p>
<p>1.1.2.<strong> Администрация </strong>- Кызматка карата бардык керектүү укуктарга ээ болгон жана Кызматты башкарган
    "Хамза Глобал" Жоопкерчилиги Чектелген Коому (Каттоо номери 191350-3301-ЖЧК).</p>
<p>1.1.3. <strong>Жеке кабинет (аккаунт) </strong>- бул Колдонуучунун жарнамалык жайгаштырууларын, башка кызматтарын
    башкарууга жетүү, аларга акы төлөө, Кызматта каралган маалыматтык материалдар менен башка аракеттерди жасоо үчүн
    интерфейс. Кирүү Колдонуучунун каттоо маалыматын колдонуу менен жүргүзүлөт.</p>
<p>1.1.4. <strong>Модератор</strong> - башка Колдонуучуларга салыштырмалуу ушул Макулдашууда белгиленген тартипте
    Администрация тарабынан кеңири укуктарга ээ болгон Колдонуучу.</p>
<p>1.1.5. <strong>Колдонуучу</strong> - Каттоо Процедурасынан өткөн адам. Ушул Макулдашуунун максаттары үчүн,
    Колдонуучу, ошондой эле Каттоо жол-жобосунан өтпөгөн, бирок Кызматка кирген жана / же аны колдонгон жана / же
    пайдаланган адамды билдирет.</p>
<p>1.1.6. <strong>Кызмат</strong> - Интернетте <a href="https://tezsat.kg/">https://tezsat.kg/</a>&nbsp; дарегинде
    жайгашкан интернет-ресурс (сайт), ар кандай операциялык тутумдарга жана башка кызматтарга негизделген сайтка
    тиркемелер, ошондой эле сайттын программалык камсыздоосу, дизайны (графикалык дизайны), тиркемелер жана башка
    кызматтар, маалымат базасы, кызматтардын бардык бөлүмү (бөлүмчөсү), ошондой эле Администрация жана Колдонуучулар
    тарабынан кызматтарга жайгаштырылган маалыматтар.</p>
<p>1.1.7<strong>. Товарлар -</strong> бул буюмдар, жумуштар, кызмат көрсөтүүлөр, материалдык-техникалык ресурстар,
    ошондой эле башка материалдык жана материалдык эмес объекттер.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
</p>
<ol start="2">
    <li><strong> Келишим буюму&nbsp;</strong></li>
</ol>
<p>2.1. Ушул Макулдашуу Кызматты пайдалануунун эрежелерин жана шарттарын, Кызматка маалыматтарды жайгаштырууну жана&nbsp;
    маалыматты пайдалануунун тартибин белгилейт жана Колдонуучу менен Администрациянын ортосундагы келишимди түзөт.</p>
<p>2.2. Кызматка кирүү, Кызматты колдонуу жана / же Колдонуучу тарабынан Сервистеги башка аракеттерди жасоо, Колдонуучу
    ушул Макулдашуунун бардык шарттарын эч кандай эскертүүлөрсүз жана четтетүүсүз кабыл алат жана аткарууга милдеттенет.
    Колдонуучунун Сервиске катталуусу ушул Макулдашууну кабыл алгандыгын тастыктаган учурда гана мүмкүн болот. Эгерде
    Колдонуучу Келишимдин шарттары менен макул болбосо, анда ал Кызматты колдонууну дароо токтотушу керек.</p>
<p>2.3. Кызматка катталуу ыктыярдуу түрдө жүргүзүлөт. Сервисте катталган учурда, Колдонуучу Сервистин кошумча
    кызматтарына мүмкүнчүлүк алат. Администрация каалаган убакта Колдонуучудан каттоодон өтүүдө өзү көрсөткөн
    маалыматтарды ырастоону талап кылууга жана тастыктоочу документтерди сурап алууга укуктуу.</p>
<p>2.4. Администрация Колдонуучу чындыгында анын ким экендигине кепилдик бере албайт жана Кызматка катталып жатканда
    Колдонуучу берген маалымат туура болуп эсептелет.</p>
<p>2.5. Администрация ушул Макулдашуунун шарттарын бузган Колдонуучунун кызматтарын колдонуу мүмкүнчүлүгүн токтотуу
    укугуна ээ.</p>
<p>2.6. Кызматтарга кирүү мүмкүнчүлүгү токтотулган же маалыматы жараксыз болуп калган колдонуучу Администрациянын атайын
    уруксатысыз кайрадан каттоодон өтүүгө укугу жок. Мындай Колдонуучу ошондой эле Кызматка жана анын кызматтарына кирүү
    үчүн башка Колдонуучунун жеке маалыматтарын колдонууга укугу жок.</p>
<p>2.7. Администрация Кызматка катталган бардык Колдонуучуларга Кызматка жарнамаларды жайгаштыруу укугун берет.</p>
<p>2.8. Колдонуучуга башка Колдонуучулардын аттарын окшоштуруу жана алардын атынан билдирүү жазуу максатында, алардын
    атын колдонууга тыюу салынат.</p>
<p>2.9. Колдонуучу Администрация Колдонуучуларга электрондук почта жана / же кыска билдирүүлөрдү (SMS билдирүүлөрүн)
    электрондук почта даректерине же алар белгилеген телефон номурларына (анын ичинде Колдонуучу Кызматты колдонууну
    токтоткондон кийин) жөнөтүү укугун өзүнө калтырат деп түшүнөт, кабыл алат жана макул болот.</p>
<p>2.10. Колдонуучуга модераторлордун жана Администрациянын иш-аракеттери жөнүндө ар кандай комментарийлерди,
    талкууларды жана башка жазууларды (анын ичинде, бирок алар менен гана чектелбестен) калтыруу тыюу салынат. Болбосо,
    Тейлөө Администрациясы мындай Колдонуучунун Жеке кабинетин (эсеп жазуусун) блоктоого же жок кылууга укуктуу.</p>
<p>2.11. Колдонуучу каалаган убакта сурам жөнөтүү аркылуу өзүнүн телефон номуруна же электрондук почта дарегине
    билдирүүлөрдү кабыл алуудан баш тарта алат.</p>
<p>2.12.&nbsp; Администрация сайт жайгашкан домендик аталыштын, сайттын өзүн, мобилдик тиркемелердин, маалымат
    базаларынын (анын ичинде Кызматтын Колдонуучуларынын маалымат базаларын), ошондой эле Кызматтын жана Кызматтын
    бардык программаларынын өзгөчө ээси болуп саналат.</p>
<p>2.13. Администрация Товарга карата бүтүмдөрдү уюштуруучу, ортомчу, сатып алуучу же сатуучу болуп саналбайт.</p>
<p>2.14. Администрация Колдонуучулар тарабынан жарнамаларда жайгаштырылган маалыматтардын тактыгын көзөмөлдөй
    албайт.</p>
<p>2.15. Кызмат, анын Администрациясы, жетекчилиги жана кызматкерлери Кызматта жайгаштырылган жарнамалардын мазмуну,
    ошондой эле алардын тактыгы үчүн эч кандай жоопкерчилик тартпайт.</p>
<p>2.16. Администрация, анын жетекчилиги жана кызматкерлери кандайдыр бир билдирүүлөрдүн (анын ичинде Колдонуучулар
    почта ящигине жана / же уюлдук телефонго алган билдирүүлөрүнүн) мазмунуна, ошондой эле Колдонуучулардын байланыш
    маалыматын башкача пайдалануусуна эч кандай жоопкерчилик тартпайт.</p>
<p>2.17. Колдонуучу башка Колдонуучулар менен жана / же Сервистин конокторунун ортосундагы бардык талаш-тартыштар (анын
    ичинде транзакциялардын натыйжасында) Администрациянын катышуусуз өз алдынча чечилишине макул.</p>
<p>2.18. Кызматтын башка Колдонуучусу тарабынан Колдонуучунун укуктары бузулган учурда (интеллектуалдык менчикти
    мыйзамсыз пайдалануу ж.б.), укуктары бузулган Колдонуучу Администрацияга же модераторлорго тийиштүү арыз менен
    кайрыла алат. Администрация даттанууну карайт жана негиздүү болсо, Администрация Колдонуучунун укуктарынын бузулушун
    токтотуу боюнча чараларды көрүүгө укуктуу.</p>
<p>2.19. Администрация Колдонуучунун жеке маалыматтарын үчүнчү жактардын уруксатсыз киришинен коргоо үчүн бардык акылга
    сыярлык чараларды көрөт.</p>
<p>2.20. Жогоруда көрсөтүлгөн технологияларды колдонуу менен Кызмат чогулткан жана сактаган бардык маалыматтар
    Колдонуучунун макулдугу менен колдонулат.</p>
<p>2.21. Колдонуучу Интернеттеги алдамчылык, ошондой эле Колдонуучу тарабынан маалыматтарды жайгаштыруу менен
    байланышкан бардык тобокелдиктерди түшүнөт жана өзүнө алат, анын ичинде, бирок алар менен чектелбестен:
    спам-билдирүүлөрдү жөнөтүү тизмелеринде электрондук почта дарегин алуу коркунучу, электрондук почта дареги аркылуу
    ар кандай почта билдирүүлөрү, SMS номеринин SMS-спамерлерге жана / же SMS-алдамчыларга келип түшүү коркунучу жана
    маалыматты жайгаштыруудан келип чыгуучу башка тобокелчиликтер.</p>
<ol start="3">
    <li><strong> Колдонуучунун укуктары жана милдеттери</strong></li>
</ol>
<p>3.1. Колдонуучунун укуктуу:</p>
<p>3.1.1. Кызматтын кызматтарын жеке электрондук почта дарегиңизди жана сыр сөзүңүздү колдонуу менен гана пайдаланыңыз.
    Колдонуучу өзүнүн сыр сөзүн жашыруун сактоого милдеттенет жана анын колдонулушуна жана коопсуздугуна байланыштуу
    иш-аракеттер, ошондой эле Колдонуучунун Жеке кабинетинде аткарылган аракеттер үчүн жооп берет. Эгерде Колдонуучунун
    Жеке кабинетине уруксатсыз кирүү мүмкүнчүлүгүнөн күмөн саноого негиз бар болсо, Колдонуучу өзүнүн сыр сөзүн өз
    алдынча өзгөртүүгө милдеттенет.</p>
<p>3.2. Колдонуучу милдеттүү:</p>
<p>3.2.1. Макулдашуунун шарттарын так сактоого;</p>
<p>3.2.2. Купуялык саясатында көрсөтүлгөн сунуштарды аткаруу;</p>
<p>3.2.3. анын аккаунтун уруксатсыз колдонгондо, купуялуулугун жоготкондо, сыр сөзүн жоготкондо Администрацияга
    токтоосуз билдирүү;</p>
<p>3.2.4. Каттоодо (аккаунт түзүүдө) Колдонуучу өзү жөнүндө так, учурдагы жана толук маалыматты берүүгө милдеттүү, бул
    Кызматтын каттоо формалары тарабынан суралышы мүмкүн;</p>
<p>3.2.5. сунушталган жарнактарда көрсөтүлгөн продукт жана башка шарттар жөнүндө ишенимдүү маалыматтарды берүү менен
    Эрежелерди жана Кыргыз Республикасынын колдонуудагы мыйзамдарын жетекчиликке алууга;</p>
<p>3.2.6. Кызмат аркылуу, Кыргыз Республикасынын мыйзамдарын жана эл аралык мыйзамдарды бузган маалыматтарды эч кандай
    жол менен жайгаштырбоого;</p>
<p>3.2.7. атайылап жалган маалыматтарды жайгаштырбоого;</p>
<p>3.2.8. Кызматты колдонуп товарларды жайгаштырбоого жана / же өткөрүп бербөөгө, эгерде Колдонуучу тиешелүү укуктарга
    ээ болбосо. Бул автордук укук, соода маркалары, патенттер менен корголгон материалдарга, ошондой эле маалыматты
    жайылтпоо жөнүндө келишимдерге, купуялуулукка, сатуу үчүн тийиштүү уруксаттарды алуу зарыл болгон товарларга, эгерде
    мындай уруксат жок болсо жана ушул сыяктуу нерселерге;</p>
<p>3.2.9. Кызматтын маалыматтык коопсуздугун бузбоого;</p>
<p>3.2.10 өзүн бирөөнүн аты же бирөөнүн атынан (жеке адам же уюм) тааныштырбоого. Башка Колдонуучуларды жана
    Администрацияны алардын идентификациясы боюнча кандайдыр бир жол менен адаштырбоого;</p>
<p>3.2.11 Колдонуучу автор болбогон Сервистеги материалдарды жок кылбоого жана / же өзгөртпөөгө;</p>
<p>3.2.12 телефондун номерлери, почта даректери, электрондук почта даректери жөнүндө маалыматты Кызматтын тематикасынан
    башка максаттарда колдонбоого (жарнамаларды издөө, көрүү жана жайгаштыруу);</p>
<p>3.2.13 башка бирөөнүн электрондук дарегин же Колдонуучу пайдаланууга укугу жок болгон даректи колдонуп каттоодон
    өтпөөгө;</p>
<p>3.2.14 жеке кабинетиңизге кирүү үчүн сыр сөздү үчүнчү жактарга өткөрүп бербөөгө. Колдонуучу үчүнчү жак тарабынан ага
    келтирилген, Колдонуучунун жеке кабинеттен башка адамга сыр сөздү атайылап же байкабай өткөрүп берүүсүнүн
    натыйжасында келтирилген бардык зыяндар үчүн толугу менен жооп берет. Колдонуучу сыр сөздүн купуялуулугун сактоого
    жана Сервисти өзүнүн сыр сөзү аркылуу колдонууга жооп берет;</p>
<p>3.2.15 Сайтка киргенде, Колдонуучунун Кызматтагы жүрүм-турумун талдоо, Колдонуучунун кызыгуусун аныктоо жана жарнама
    өнөктүгүн оптималдаштыруу максатында Колдонуучунун <strong>сookies-файлы</strong> сакталат.
    <strong>Cookies-файл</strong> - бул веб-сервер тарабынан жөнөтүлгөн жана Колдонуучунун компьютеринде сакталган,
    Колдонуучунун аутентификациясы, анын сессиясынын абалын көзөмөлдөө жана Интернеттеги сайттардын колдонуучуларынын
    колдонуу статистикасын сактоо үчүн келтирилген тексттик файл. Сайтка киргенде, Колдонуучу Сайттагы жүрүм-турумун
    талдоо жана максаттуу жарнамалык билдирүүлөрдү алуу үчүн, өзүнүн <strong>сookies-файлын </strong>сактап, үчүнчү
    жактарга өткөрүп берүүгө макул болот. Колдонуучу өзүнүн <strong>сookies-файлын </strong>талдоонун натыйжасында
    алынып, иштелип чыккан маалыматтарга ылайык максаттуу жарнама алууга макул. Колдонуучу өзү колдонгон веб-браузердин
    купуялуулугун, жеке маалыматтарынын параметрлерин (браузердин терминологиясына жараша) өзгөртүп, <strong>сookies-файл&nbsp; </strong>сактоодон
    баш тарта алат;</p>
<p>3.2.16 жарнамада көрсөтүлгөн Товарлар жөнүндө маалыматты текшерүү, эгер туура эмес же толук эмес маалыматтар табылса,
    жарнамада керектүү маалыматты оңдоо же толуктоо;</p>
<p>3.2.17 Администрациянын жазуу жүзүндөгү уруксатысыз Кызматка кирүү үчүн автоматтык программаларды колдоого.
    Администрациянын жазуу жүзүндөгү уруксаты жок болсо, жарнамаларды жайгаштыруунун кадимки жол-жобосунан өтпөй,
    жарнамаларды жайгаштырууга мүмкүндүк берген компьютердик программаларды колдонууга тыюу салынат.</p>
<ol start="4">
    <li><strong> Администрациянын укуктары жана милдеттери</strong></li>
</ol>
<p>4.1. Администрация төмөнкүлөргө укуктуу:</p>
<p>4.1.1. ушул Келишимде көрсөтүлгөн талаптарды бузган учурда, Администрация Колдонуучунун аккаунтун блоктоого
    укуктуу;</p>
<p>4.1.2. Кызматка келип түшкөн маалыматтар Администрациянын менчиги болуп эсептелет. Эгерде Колдонуучу менен жазуу
    жүзүндө келишим колдонулбаса же учурдагы мыйзамдардын тиешелүү талаптарына ылайык болбосо, Администрация бул
    маалыматка карата купуялуулукту камсыз кылуу боюнча эч кандай милдеттенме албайт;</p>
<p>4.1.3. Кызматта камтылган маалымат, Администрациянын жазуу жүзүндөгү уруксатысыз көчүрүлүп же жарыялоо үчүн
    пайдаланылышы мүмкүн эмес, эгерде мындай маалымат камтылган баракчада андай эместиги көрсөтүлбөсө. Кызматта
    камтылган маалыматтардын көчүрмөсүн жеке адамдар гана жекече колдонушу мүмкүн;</p>
<p>4.1.4. Администрация эч кандай шартта Сайтты пайдаланууга же аны колдоно албагандыгына байланыштуу келтирилген зыян,
    жоготуулар же чыгымдар үчүн жооп бербейт;</p>
<p>4.1.5. каттоо учурунда жана / же авторизация учурунда Колдонуучулар тарабынан берилген маалыматтардын тууралыгын
    текшерүү үчүн атайын техникалык чечимдерди колдонууга;</p>
<p>4.1.6. Кызматтын дизайнын каалаган убакта өзгөртүүгө;</p>
<p>4.1.7. жайгаштырылган Товарларга байланыштуу Колдонуучудан документтерди жана / же кошумча маалыматтарды сурап алуу
    же Колдонуучу берген маалыматтарга байланыштуу Кызмат мындай документтер же маалыматтар берилгенге чейин жарыялоону
    кечиктирүүгө укуктуу;</p>
<p>4.1.8. Администрация Колдонуучунун башка жактардын укуктарын же учурдагы мыйзамдарды бузган учурда, ошондой эле башка
    себептерден улам, өз каалоосу боюнча Колдонуучунун кирүүсүн чектөөгө же токтотууга укуктуу;</p>
<p>4.1.9. ушул Макулдашууда белгиленген эрежелерди бузган, ошондой эле башка Колдонуучулардын укуктарын бузган же
    колдонуудагы мыйзамдарды бузган, ошондой эле башка себептерден улам, каалаган убакта кандайдыр бир жарнаманы
    көрсөтүүнү токтотууга. Ушул Келишимде белгиленген эрежелерди бузган себептерден улам администрация Колдонуучунун
    Жеке кабинетин (эсеп жазуусун) блоктошу же жок кылышы мүмкүн;</p>
<p>4.1.10 жарнамаларды түзөтүү, башка аталыштарга жылдыруу, ошондой эле мыйзамга ылайык Колдонуучулардын жарнамалары
    менен башка аракеттерди жасоого;</p>
<p>4.1.11 себепсиз жарнамаларды жайгаштыруудан (жарыялоодон) баш тартуу.</p>
<p>4.2. Администрация милдеттүү:</p>
<p>4.2.1. Колдонуучунун жеке маалыматтарынын купуялуулугун сактоого;</p>
<p>4.2.2. анонимдүүлүк талап кылынган учурда, Колдонуучунун Жеке баракчаларындагы маалыматтардын купуялуулугун
    сактоого;</p>
<p>4.2.3. ушул убакытта Администрация тарабынан белгиленген эрежелерге жана чектөөлөргө ылайык, Колдонуучуга Сервисте
    жарнамаларды жайгаштыруу, Кызматтын маалымат базасында жайгашкан башка колдонуучулардын жарнамаларын издөө
    мүмкүнчүлүгүн камсыз кылууга;</p>
<p>4.2.4. Колдонуучуну өзүнүн жеке аккаунту аркылуу өзүнүн жарнамасына жеткиликтүүлүктү көзөмөлдөө мүмкүнчүлүгүн камсыз
    кылууга жана Колдонуучуларга белгилүү бир убакытта башка параметрлерди орнотууга;</p>
<p>4.2.5. Колдонуучуга жарнаманы жана / же өзүнүн каттоо маалыматтарын каалаган убакта алып салуу мүмкүнчүлүгүн
    берүүгө;</p>
<p>4.2.6. Колдонуучуга Сервистеги өзүнүн жеке аккаунту аркылуу каалаган убакта Сервисте жарыялаган бардык маалыматтарды
    толугу менен жок кылуу мүмкүнчүлүгүн камсыз кылууга.</p>
<p>&nbsp;</p>
<ol start="5">
    <li><strong> Өзгөчө укуктар</strong></li>
</ol>
<p>5.1. Кызматта колдонулган жана жайгаштырылган бардык объекттер (программалык камсыздоо, контент, графикалык контент,
    дизайн), ошондой эле Кызматтын өзү, анын мыйзамдуу ээсинин интеллектуалдык менчиги болуп саналат жана Кыргыз
    Республикасынын интеллектуалдык менчик мыйзамдары, ошондой эле тиешелүү эл аралык укуктук конвенциялар менен
    корголот. Сервисте жайгаштырылган интеллектуалдык ишмердүүлүктүн натыйжаларын (анын ичинде Кызматтын визуалдык
    дизайны элементтерин, символдорду, тексттерди, графикаларды, сүрөттөрдү, видеолорду, программаларды, музыканы жана
    башка объектилерди) Сайттын Администрациясынын же мыйзамдуу автордук укук ээсинин уруксатысыз пайдалануу мыйзамга
    каршы келет жана Кыргыз Республикасынын колдонуудагы мыйзамдарына ылайык жоопко тартуунун себеби болушу мүмкүн.</p>
<p>5.2. Администрация башка колдонуучулар тарабынан жалпы пайдалануу үчүн берилген маалыматтарды текшербейт жана анын
    тактыгы жана / же үчүнчү жактардын укуктарын бузгандыгы үчүн жооп бербейт.</p>
<ol start="6">
    <li><strong> Администрациянын жоопкерчилигин чектөө</strong></li>
</ol>
<p>6.1. Администрация Колдонуучуга же башка адамдарга мүмкүнчүлүк алган Кызматты пайдаланууга байланыштуу келип чыккан
    ар кандай кыйыр, кокустук, байкалбаган зыян, анын ичинде жоготулган пайда же жоготулган маалыматтар, ар-намысына,
    кадыр-баркына же ишкердик беделине доо келтирүү үчүн, Колдонуучунун же үчүнчү жактардын алдында, мындай зыян
    келтирүү мүмкүнчүлүгүн эскерткен болсо же көрсөткөн болсо да, жооптуу эмес.</p>
<p>6.2. Сайттын администрациясы Колдонуучунун программасына зыян келтириши мүмкүн болгон, Интернетте жайгашкан башка
    сайттарга тышкы шилтемелер аркылуу Колдонуучунун өтүүсү, бул сайттардын болушу жана камтылышы, ошондой эле аларды
    колдонууга байланыштуу кесепеттер үчүн эч кандай жоопкерчилик тартпайт.</p>
<p>6.3. Колдонуучуга Администрация тышкы ресурстарга кирүү жана пайдалануу үчүн жооптуу эмес деп эскертилет, шилтемелер
    Кызматта камтылышы мүмкүн. Администрация жарнамалардын мазмунуна, башка ресурстарга шилтемелерге жана жарнамалардын
    сыпаттамасында көрсөтүлгөн башка маалыматтарга жооп бербейт.</p>
<p>6.4. Колдонуучу тарабынан Кызмат жөнүндө ар кандай маалыматтарды жана билдирүүлөрдү берүүгө байланыштуу администрация
    үчүнчү жактардын укуктарын бузгандыгы үчүн жооптуу эмес.&nbsp;</p>
<p>6.5. Администрация билдирүүлөрдү жөнөтүү үчүн Кызматта жайгаштырылган форманы башка Колдонуучулардын жана / же
    автоматташтырылган тутумдардын (роботтордун) колдонушу үчүн жооптуу эмес.</p>
<p>6.6. Администрация башка Колдонуучулардын жана/же роботтордун Кызматтын беттеринде Колдонуучу тарабынан
    жайгаштырылган телефон номерлерин жана электрондук почта даректерин колдонушу үчүн жооптуу эмес.</p>
<p>&nbsp;</p>
<ol start="7">
    <li><strong> Колдонуучунун жеке маалыматтары</strong></li>
</ol>
<p>7.1. Колдонуучунун жеке маалыматтарын иштеп чыгууда, Администрация Колдонуучунун жеке маалыматын уруксатсыз кирүүдөн,
    жок кылуудан, өзгөртүүдөн, бөгөттөөдөн, көчүрүүдөн, таратуудан, ошондой эле аны менен болгон үчүнчү жактардын башка
    мыйзамсыз аракеттеринен коргоо үчүн бардык негиздүү уюштуруучулук жана техникалык чараларды көрүүгө милдеттенет.
    Бирок, Кызматтын иштебей калышынын, вирустун же хакердик чабуулдун, техникалык мүчүлүштүктөрдүн жана башка
    жагдайлардын натыйжасында, үчүнчү жактар Колдонуучунун жеке маалыматына мыйзамсыз кирүүгө мүмкүнчүлүк алышы мүмкүн,
    ошондой эле Колдонуучунун жеке маалыматтары жок кылынышы, өзгөртүлүшү, блоктолушу, көчүрүлүшү, таркатылышы же
    таратылышы мүмкүн, аны менен башка мыйзамсыз аракеттер жасалышы мүмкүн. Колдонуучу муну түшүнөт жана буга
    байланыштуу Администрацияга доомат койбостугуна макул.</p>
<p>7.2. Колдонуучу тарабынан Сервисте көрсөтүлгөн бардык маалыматтар (анын ичинде жеке маалыматтар) Колдонуучу өзүнүн
    Товарларын сатуу үчүн жайгаштырылган.</p>
<p>7.3. Өзү жөнүндө маалыматты жайгаштыруу менен, Колдонуучу мындай маалыматтын Кызматта коомдук доменде
    жайгаштырылгандыгын, башкача айтканда, каалаган конокко же Кызматтын Колдонуучуларына таанышуу үчүн жеткиликтүү
    экендигин түшүнөт жана макул болот.</p>
<p>7.4. Колдонуучу аккаунтунда камтылган жеке маалыматтары жалпыга жеткиликтүү экендигине макулдугун берет жана
    Сервистин каалаган Колдонуучусу, эгерде Колдонуучунун Тиешелүү Функционалдуулугу бар болсо, Колдонуучу чектей турган
    Жеке маалыматты кошпогондо, аны менен таанышууга болот.</p>
<p>7.5. Колдонуучу Тейлөө Администрациясы төмөнкү максаттарда Колдонуучунун жеке маалыматын иштетүү үчүн башка
    иш-аракеттерди чогултууга, сактоого жана жасоого макул:</p>
<p>7.5.1. Администрация менен түзүлгөн келишимдер жана макулдашуулар боюнча тарапты аныктоо;</p>
<p>7.5.2. Колдонуучуну жекелештирилген кызматтар менен камсыз кылуу;</p>
<p>7.5.3. Колдонуучу менен байланышуу, анын ичинде Кызматты пайдалануу, кызматтарды көрсөтүү, ошондой эле Колдонуучунун
    суроо-талаптарын жана арыздарын иштеп чыгуу жөнүндө билдирүүлөрдү, сурамдарды жана маалыматтарды жөнөтүү;</p>
<p>7.5.4. Кызматтын сапатын жогорулатуу, колдонуунун жеңилдиги, жаңы кызматтарды жана ыңгайлылуулуктарды иштеп
    чыгуу;</p>
<p>7.5.5. жарнамалык материалдарды даректөө;</p>
<p>7.5.6. анонимдүү маалыматтардын негизинде статистикалык жана башка изилдөөлөрдү жүргүзүү;</p>
<p>7.5.7. Кызматтын Колдонуучуларынын маалымат базасын түзүү;</p>
<p>7.5.8. Администрациянын укуктарын жана мыйзамдуу кызыкчылыктарын коргоо жана жүзөгө ашыруу, анын ичинде ушул
    Макулдашуунун талаптарынын сакталышын көзөмөлдөө, Администрациянын, Колдонуучулардын жана үчүнчү жактардын укуктарын
    жана мыйзамдуу кызыкчылыктарын бузууга жол бербөө, Сайттын Администрациясынын укуктарын ар кандай мыйзамдуу жолдор
    менен коргоо;</p>
<p>7.6. Кызматка өзүнүн жеке маалыматтарын жайгаштыруу менен, Колдонуучу муну өз ыктыяры менен жасаарын, ошондой эле
    Администрацияга өз ыктыяры менен бергендигин тастыктайт.</p>
<p>7.7. Колдонуучу артыкчылыктарды алуу максатында жана Кызматты түзүүнүн максаттарына жана ушул Макулдашууга жооп
    бербеген башка максаттар үчүн, Кызматка башка адамдардын жеке маалыматтарын жайгаштырбоого, ошондой эле башка
    колдонуучулардын жеке маалыматтарын Кыргыз Республикасынын мыйзамдарынын талаптарына ылайык келбеген кандайдыр бир
    жол менен колдонбоого милдеттенет. ...</p>
<p>7.8. Колдонуучу каалаган убакта, эгерде Кызматтын тиешелүү функциялары бар болсо, өзү берген жеке маалыматты же анын
    бир бөлүгүн өзгөртүп (жаңыртып, толуктап) же жок кыла алат.</p>
<p>7.9. Колдонуучунун жеке маалыматтары Администрация тарабынан Кызматка жайгаштырылган мезгилде же колдонуудагы
    мыйзамдарда белгиленген мезгилде иштелип чыгат.</p>
<p>7.10. Келишимдин башка жоболоруна зыян келтирбестен, Администрация Колдонуучунун жеке маалыматын төмөнкү учурларда
    үчүнчү жактарга берүүгө укуктуу:</p>
<p>7.10.1 Колдонуучу мындай аракеттерге макулдугун билдирген;</p>
<p>7.10.2 которуу Колдонуучунун Кызматты пайдалануунун алкагында же Колдонуучуга кызмат көрсөтүү үчүн зарыл;</p>
<p>7.10.3 мындай которуу Кыргыз Республикасынын мыйзамдарында каралган;</p>
<p>7.10.4 мындай которуу бизнести сатуунун же башкача өткөрүп берүүнүн (толугу менен же жарым-жартылай) бөлүгүндө жүзөгө
    ашырылат, ал эми ушул Келишимдин шарттарын аткаруу боюнча, Колдонуучунун алган жеке маалыматына карата бардык
    милдеттенмелер эквайерге өтөт;</p>
<p>7.10.5 колдонуучу ушул Макулдашуунун шарттарын бузган учурларда Администрациянын же үчүнчү жактардын укуктарын жана
    мыйзамдуу кызыкчылыктарын коргоо мүмкүнчүлүгүн камсыз кылуу максатында;</p>
<p>7.10.6 Администрацияга тиешеси бар адамдардын ортосунда которуу. Мындай учурда, алуучу Колдонуучунун өзүнө алган жеке
    маалыматына карата ушул Макулдашуунун шарттарын аткаруу боюнча бардык милдеттенмелерди алат.</p>
<p>7.11. Колдонуучунун жеке маалыматтарын иштеп чыгууда Сайттын Администрациясы Кыргыз Республикасынын 2008-жылдын
    14-апрелиндеги No 58 "Жеке маалыматтар жөнүндө" Мыйзамын жетекчиликке алат.</p>
<ol start="8">
    <li><strong> Кепилдиктер жана жоопкерчилик</strong></li>
</ol>
<p>8.1. Колдонуучу өз каалоосу боюнча жана Администрациянын көзөмөлүнөн тышкары Кызматка жарнамалык мүнөздөө болушу
    мүмкүн болгон жарнамаларды жайгаштыргандыктан, Колдонуучу өзү Кызматта жарыяланган бардык жарнамаларга карата,Кыргыз
    Республикасынын "Жарнак жөнүндө" Мыйзамында каралган "Жана мыйзам бузуулар жөнүндө Кыргыз Республикасынын кодексине
    ылайык жарнама берүүчү жана жарнак таратуучу болуп эсептелет.</p>
<p>8.2. Кызматка жарнамаларды жайгаштыруу менен, Колдонуучу жарнамада көрсөтүлгөн товарларды сатууга, анын ичинде
    товарлар милдеттүү сертификациядан өткөндүгүнө кепилдик берет (эгер бул өнүмдүн ушул түрү үчүн мыйзамда каралса).
    Ушул пунктта көрсөтүлгөн кепилдиктерди бузгандыгы үчүн колдонуучу толугу менен жооп берет. Администрация
    Колдонуучудан тиешелүү кулактандырууда көрсөтүлгөн товарлар үчүн тастыктоочу документтерди (анын ичинде декларацияны
    / шайкештик сертификатын) суроого укуктуу. Эгерде Колдонуучу товарлар үчүн тастыктоочу документтерди бербесе, анда
    Подрядчы Подрядчыга эч кандай жаза колдонбостон, тиешелүү жарнаманы Кызматтан алып салууга укуктуу.</p>
<p>8.3. Колдонуучу өзү жарыялаган жарнактын мазмунунун Кыргыз Республикасынын колдонуудагы мыйзамдарына шайкештиги үчүн
    жооп берет. Үчүнчү жактар (анын ичинде, бирок мамлекеттик органдар менен гана чектелбестен) Колдонуучу жарыялаган
    жарнамалар / жана тиешелүү кулактандырууда көрсөтүлгөн товарлар боюнча Администрацияга талаптарды койгон учурда,
    Колдонуучу мындай талаптарды өз алдынча жана өз эсебинен жөнгө салууга милдеттенет, эгерде ал келип чыкса Жогоруда
    келтирилген чыгымдарды Администрация тарабынан, Администрацияга толугу менен толтуруп берет.</p>
<p>8.4. Сервистин колдонуучуларын идентификациялоо техникалык себептерден улам татаал болгондуктан, катталган
    колдонуучулар чындыгында алар өзүлөрүн ырастаган адамдар экендиги үчүн Администрация жооп бербейт жана ушул себептен
    Колдонуучуга же башка адамдарга келтирилген зыян үчүн жооп бербейт.</p>
<p>8.5. Сервистен алынган маалыматты колдонуу менен, Колдонуучу Сервисте жайгаштырылган маалыматтын мүмкүн болгон так
    эместиги менен байланышкан тобокелдиктерди, ошондой эле кээ бир маалыматтар ага коркунуч туудурган, адепсиз, билип
    туруп жалган, орой, уятсыз сезилиши мүмкүн экендигин түшүнөт жана кабыл алат жана колдонуу мүмкүнчүлүгү жөнүндө өз
    алдынча чечим кабыл алат</p>
<p>8.6. Администрация Колдонуучу жарыялаган жарнамаларды Кызматтын белгилүү бир сандагы колдонуучулары же жок дегенде
    бирөөсү көрө тургандыгына кепилдик бербейт.</p>
<p>8.7. Сайт колдонгон программалык камсыздоо, серверлер жана компьютердик тармактарда каталар жана компьютердик
    вирустар жок деп администрация кепилдик бербейт. Эгерде Сайтты колдонуу маалыматтардын жоголушуна же жабдуулардын
    бузулушуна алып келсе, анда Подрядчик бул үчүн жооптуу эмес.</p>
<p>8.8. Администрация ушул Макулдашууну жана / же Кызматты пайдалануу же жарнамаларды жайгаштыруу боюнча жалпы
    эрежелерди жана жарым-жартылай жайгаштыруунун башка эрежелеринин шарттарын бузган Колдонуучунун кирүүсүн токтотууга,
    анын ичинде Колдонуучунун жеке эсебине кирүүсүн токтотууга же убактылуу токтотууга укуктуу.</p>
<p>8.9. Ушул Макулдашуу боюнча келип чыккан бардык талаш-тартыштар Кыргыз Республикасынын мыйзамдарына ылайык
    Администрациянын жайгашкан жери боюнча сотто каралууга тийиш. Ушул Макулдашуу Администрация менен Колдонуучунун
    ортосунда түзүлгөн мамилелерди, өнөктөштүк мамилелерди, биргелешкен иш мамилелерди, жеке эмгек мамилелерин же ушул
    Макулдашууда ачык каралбаган башка мамилелерди деп түшүнүүгө болбойт.</p>
<p>8.10. Колдонуучу өзү берген товарлардын Кыргыз Республикасында колдонулуп жаткан сапаттын бардык стандарттарына жооп
    берерине кепилдик берет.</p>
<p>8.11. Колдонуучу өнүм менен кошо жарнаманы жайгаштыруу менен, мындай өнүмгө карата жарнамада көрсөтүлгөн аракеттерди
    жасоого укугу бар экендигин кепилдейт жана тастыктайт.</p>
<p>8.12. Колдонуучу Кыргыз Республикасынын колдонуудагы мыйзамдарына ылайык жарнамалардын мазмунуна (жана Колдонуучу
    Сервисте жайгаштырган башка маалыматтарга) толугу менен жана жекече жооп берет.</p>
<ol start="9">
    <li><strong> Келишимдин шарттары</strong></li>
</ol>
<p>9.1. Администрация менен Колдонуучунун ортосундагы ушул Келишим Колдонуучу каттоо аккаунттун түзгөн учурдан баштап,
    ал жок кылынганга чейин күчүндө болот.</p>
<p>9.2. Каттоо аккааунтун түзүүдө Колдонуучу Колдонуучу келишиминин шарттарын жана Купуялык саясатынын сунуштарын кабыл
    алат.</p>
<p>9.3. Колдонуучу Администрация Колдонуучуга эч кандай билдирүүсүз, ушул Макулдашуунун шарттарын бир тараптуу
    өзгөртүүгө укуктуу экендигине макул.</p>
<p>9.4. Колдонуучу Администрацияны алдын ала эскертүүсүз жана себептерин түшүндүрбөстөн, Сервистеги каттоосун бир
    тараптуу токтотууга укуктуу.</p>
<p>9.5. Бул Келишим ачык жана жеткиликтүү документ болуп саналат. Колдонуучу бардык эскертмелер менен, жок дегенде,
    эки-үч календардык күндө бир жолу өз алдынча таанышууга милдеттенет.</p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>Купуялуулук саясаты</strong></p>
<p>&nbsp;</p>
<ol>
    <li><strong> ЖАЛПЫ ЖОБОЛОР</strong></li>
</ol>
<p>&nbsp;</p>
<p><strong>1.1</strong>. Купуялуулук саясаты (мындан ары - Саясат) Колдонуучунун жеке маалыматтарын алуу, сактоо, иштеп
    чыгуу, пайдалануу, ачыкка чыгаруу жана коргоо тартибин белгилеген <a
            href="https://tezsat.kg/">https://tezsat.kg/</a> кызматынын Макулдашуу шарттарынын ажырагыс бөлүгү болуп
    саналат&nbsp;</p>
<p><strong>1.2</strong>. Бул Саясат Кыргыз Республикасынын 2008-жылдын 14-апрелиндеги № 58 "Жеке маалымат жөнүндө"
    Мыйзамынын (мындан ары - Жеке маалымат жөнүндө Мыйзам) талаптарын аткаруу максатында иштелип чыккан.</p>
<p><strong>1.3.</strong> Жеке маалыматтар жөнүндө Мыйзамдын 3-пунктунда камтылган терминдер жана аныктамалар бул
    Саясатта ушул сыяктуу мааниде колдонулат.</p>
<p><strong>1.4. </strong>Бул саясаттын аракети автоматташтыруу каражаттарын пайдалануу менен же аларды пайдаланбастан
    жеке маалыматтар менен "Хамза Глобал" жоопкерчилиги чектелген коомунун администрациясы жүргүзгөн бардык
    операцияларга жайылтылат.&nbsp;</p>
<p><strong>1.5</strong>. Администрациянын негизги укуктары жана милдеттери.</p>
<p><strong>1.5.1.</strong> Администрация төмөнкүлөргө укуктуу::</p>
<ul>
    <li>колдонуучудан жеке маалыматтарды камтыган анык маалыматтарды жана/же документтерди алууга;</li>
    <li>колдонуучудан берилген жеке маалыматтарды өз убагында тактоону талап кылууга.</li>
</ul>
<p><strong>1.5.2.</strong> Администрация милдеттүү:</p>
<ul>
    <li>КР түзүлгөн мыйзамдардын негизинде жеке маалыматтарды иштетүүгө;</li>
    <li>жеке маалыматтарды иштеп чыгуу маселелери боюнча колдонуучунун (анын мыйзамдуу өкүлүнүн) кайрылуусун карап чыгуу
        жана жүйөлүү жооп берүүгө;
    </li>
    <li>колдонуучуга (анын мыйзамдуу өкүлүнө) анын жеке маалыматтарына акысыз кирүүгө мүмкүндүк берүүгө;</li>
    <li>колдонуучунун (анын мыйзамдуу өкүлүнүн) мыйзамдуу жана негиздүү талаптарына байланыштуу жеке маалыматтарын
        тактоо, жок кылуу боюнча чараларды көрүүгө;
    </li>
    <li>Кыргыз Республикасынын мыйзамдарынын талаптарына ылайык жеке маалыматтарды коргоону уюштуруу;</li>
</ul>
<p><strong>1.6. </strong>Колдонуучунун негизги укуктары жана милдеттери:</p>
<p><strong>1.6.1.</strong> Колдонуучулар укуктуу:</p>
<ul>
    <li>администрация тарабынан иштетилген алардын жеке маалыматтары жөнүндө толук маалыматты алууга;</li>
    <li>мыйзамда каралгандан башка учурларда, алардын жеке маалыматтарына кирүүгө, анын ичинде&nbsp; алардын жеке
        маалыматтарын камтыган ар кандай жазманын көчүрмөсүн алууга укуктуу;
    </li>
    <li>алардын жеке маалыматтарын тактоо, кармоо же жок кылуу төмөнкү учурларда жүргүзүлөт: эгерде жеке маалыматтар
        толук эмес, эскирген, так эмес, мыйзамсыз алынган болсо же иштетүү максатына ылайык келбесе;
    </li>
    <li>макулдугу боюнча жеке маалыматтарды иштеп чыгууга ;</li>
    <li>өз укуктарын коргоо боюнча мыйзамда каралган чараларды кабыл алууга;</li>
    <li>Кыргыз Республикасынын мыйзамдарында каралган башка укуктарды жүзөгө ашырууга.</li>
</ul>
<p><strong>1.6.2.</strong> Колдонуучулар милдеттүү:</p>
<ul>
    <li>администрацияга өзү жөнүндө гана ишенимдүү маалыматтарды берүүгө;</li>
    <li>иштеп чыгуу максатында жекече маалыматтарды камтыган документтерди зарыл болгон көлөмдө берүүгө;</li>
    <li>өзүлөрүнүн жеке маалыматтарын тактоо (жаңыртуу, өзгөртүү) жөнүндө администрацияга билдирүүгө.</li>
</ul>
<p><strong>1.6.3</strong>. Администрацияга өзү тууралуу туура эмес маалыматтарды берген колдонуучулар же анын
    макулдугусуз башка колдонуучу жөнүндө маалымат берсе Кыргыз Республикасынын мыйзамдарына ылайык жоопкерчилик тартат.
</p>
<p>&nbsp;</p>
<ol start="2">
    <li><strong> ИШТЕТИЛҮҮЧҮ ЖЕКЕ МААЛЫМАТТАРДЫН КӨЛӨМҮ ЖАНА КАТЕГОРИЯСЫ</strong></li>
</ol>
<p>&nbsp;</p>
<p><strong>2.1.</strong> Администрация тарабынан иштетилүүчү жеке маалыматтарга төмөнкүлөр кирет:</p>
<ul>
    <li>колдонуучунун аты-жөнү;</li>
    <li>жашаган жери (аймак/шаар);</li>
    <li>уюлдук телефон номуру;</li>
    <li>электрондук почта дареги (электрондук почта) жана сыр сөз;</li>
    <li>колдонуучунун жайгашкан жери;</li>
    <li>Кызматтагы өтүнүчтөр жана көрүүлөр;</li>
    <li>башка маалыматтар (келтирилген тизме конкреттүү учурга жана иштетүү максатына жараша кыскартылышы же кеңейтилиши
        мүмкүн).
    </li>
</ul>
<p><strong>2.2</strong>. Администрация иштелип чыккан жеке маалыматтардын мазмунун жана көлөмүн белгиленген иштетүү
    максаттарына шайкеш келишин камсыз кылат жана зарыл болгон учурда, алардын кайра иштетүүнүн белгиленген максаттарына
    жараша ашыкчасын жоюу боюнча чараларды көрөт.</p>
<p>&nbsp;</p>
<p><strong>2.3</strong>. Администрация биометрикалык жеке маалыматтарды Колдонуучулардын жазуу жүзүндөгү макулдугу
    менен, ошондой эле Кыргыз Республикасынын мыйзамдарында каралган башка учурларда иштетет.</p>
<p>&nbsp;</p>
<p><strong>2.4. </strong>&nbsp;Администрация тарабынан жеке маалыматтардын категориялары расалык, улуттук таандыктыгына,
    саясий, диний же философиялык көз карашына, интимдик турмушуна тиешелүү иштетилбейт.</p>
<p><strong>2.5. </strong>Жеке маалыматтарды чек арадан өткөрүп берүү Администрация тарабынан жеке маалыматтар жөнүндө
    мыйзамдын 25-беренесинин жана Кыргыз Республикасынын мыйзамдарынын башка жоболорунун негизинде жүзөгө ашырылат.</p>
<p>&nbsp;</p>
<ol start="3">
    <li><strong> ЖЕКЕ МААЛЫМАТТАРДЫ ЧОГУЛТУУ МАКСАТТАРЫ</strong></li>
</ol>
<p>&nbsp;</p>
<p><strong>3.1.</strong> Жеке маалыматтар администрация тарабынан төмөнкү максаттарда иштетилет:</p>
<ul>
    <li>Колдонуучунун инсандыгын тастыктоо;</li>
    <li>Колдонуучу катары каттоону иштеп чыгуу, Колдонуучуга Кызматка кирүү жана Кызматты колдонуу үчүн ID
        (идентификатор) берүү, Колдонуучунун каттоосун жүргүзүү жана башкаруу;
    </li>
    <li>Колдонуучулардын пикири, анын ичинде алардын суроо-талаптарын жана кайрылууларын иштеп чыгуу, Кызматтын иши
        жөнүндө маалымат берүү;;
    </li>
    <li>Кызматтын сапатын контролдоо жана жакшыртуу;</li>
    <li>статистикалык отчетту түзүү;;</li>
    <li>ишмердүүлүктү жүргүзүү;</li>
    <li>Кызматтан же үчүнчү жактардан маалыматтарды (жаңы функциялар, акциялар жана башка жаңылыктар жөнүндө кабарлоо)
        же жарнамалык билдирүүлөрдү алуу;
    </li>
    <li>Колдонуучулардын же үчүнчү жактардын мыйзамсыз же уруксатсыз аракеттеринин алдын алуу же бөгөт коюу;</li>
    <li>Кызматты колдонууга байланыштуу техникалык көйгөйлөрдү табуу жана жоюу; ошондой эле</li>
    <li>Кыргыз Республикасынын мыйзамдары менен Администрацияга жүктөлгөн башка функцияларды, ыйгарым укуктарды жана
        милдеттерди жүзөгө ашыруу.
    </li>
</ul>
<p>&nbsp;</p>
<ol start="4">
    <li><strong> ЖЕКЕ МААЛЫМАТТАРДЫ ЖӨНДӨӨНҮН ЮРИДИКАЛЫК НЕГИЗДЕРИ</strong></li>
</ol>
<p>&nbsp;</p>
<p><strong>4.1.</strong> Администрация тарабынан жеке маалыматтарды иштетүү үчүн укуктук негиздер төмөнкүлөр:</p>
<ul>
    <li>КРнын Конституциясы;</li>
    <li>КР Жарандык кодекси;</li>
    <li>КР Эмгек кодекси;</li>
    <li>2008-жылдын 14-апрелиндеги № 58 "Жеке маалыматтар жөнүндө" Кыргыз Республикасынын Мыйзамы;</li>
    <li>2017-жылдын 19-июлундагы № 127 "Электрондук башкаруу жөнүндө" Кыргыз Республикасынын Мыйзамы;</li>
    <li>Жеке маалыматтардын субъектисинин анын жеке маалыматтарын чогултууга жана иштеп чыгууга макулдугун алуу тартиби,
        Кыргыз Республикасынын Өкмөтүнүн 2017-жылдын 21-ноябрындагы №759 токтому менен бекитилген жеке маалыматтардын
        субъекттерине алардын жеке маалыматтарын үчүнчү жакка өткөрүп берүү жөнүндө билдирүүнүн тартиби жана формасы;;
    </li>
    <li>Кыргыз Республикасынын Өкмөтүнүн 2017-жылдын 21-ноябрындагы №760 токтому менен бекитилген, жеке маалыматтарды
        маалыматтык тутумдарда иштеп чыгуу учурунда жеке маалыматтардын корголушун камсыз кылуу боюнча талаптар, алардын
        аткарылышы жеке маалыматтарды коргоонун белгиленген&nbsp;
    </li>
</ul>
<p>деңгээлдери менен камсыз кылынат;</p>
<ul>
    <li>Администрациянын уюштуруу документтери;</li>
    <li>Администрация менен Колдонуучулардын ортосунда түзүлгөн келишимдер;</li>
    <li>жеке маалыматтарды иштетүү боюнча Колдонуучулардын макулдугу;</li>
    <li>жеке маалыматтарды иштеп чыгууга макулдук мыйзам тарабынан талап кылынбаган башка негиздер.</li>
</ul>
<p>&nbsp;</p>
<ol start="5">
    <li><strong> ЖЕКЕ МААЛЫМАТТАРДЫ ИШТЕТҮҮ ТАРТИБИ ЖАНА ШАРТТАРЫ</strong></li>
</ol>
<p>&nbsp;</p>
<p><strong>5.1.</strong> Администрация тарабынан жеке маалыматтарды иштетүү төмөнкүдөй жолдор менен жүргүзүлөт:</p>
<ul>
    <li>жеке маалыматтарды автоматташтырылбай иштетүү;</li>
    <li>маалыматтык жана телекоммуникациялык тармактар аркылуу алынган маалыматты берүү менен же бербестен жеке
        маалыматтарды автоматташтырылган иштетүү;
    </li>
    <li>жеке маалыматтарды аралаш иштетүү.</li>
</ul>
<p>&nbsp;</p>
<p><strong>5.2. </strong>Администрация тарабынан жеке маалыматтар менен жүргүзүлүүчү иш-аракеттердин тизмеси: чогултуу,
    тутумдаштыруу, топтоо, сактоо, тактоо (жаңыртуу, өзгөртүү), пайдалануу, жайылтуу (анын ичинде өткөрүп берүү),
    менчиктештирбөө, блоктоо, жок кылуу, ошондой эле учурдагы Кыргыз Республикасынын мыйзамдарына ылайык башка
    иш-аракеттерди жүзөгө ашыруу.</p>
<p>&nbsp;</p>
<p><strong>5.3. </strong>Жеке маалыматтарды иштетүү Кыргыз Республикасынын мыйзамдарында белгиленген учурларды
    кошпогондо, Колдонуучунун макулдугун (мындан ары - макулдук) алган учурда, Администрация тарабынан жүзөгө ашырылат,
    анда жеке маалыматтарды иштетүү жогорудагыдай макулдашуусуз жүзөгө ашырылышы мүмкүн.</p>
<p>&nbsp;</p>
<p><strong>5.4.</strong> Колдонуучу өзүнүн жеке маалыматтарын берүүнү өзү чечет жана макулдугун эркин, өз каалоосу жана
    кызыкчылыгы үчүн берет.</p>
<p>&nbsp;</p>
<p><strong>5.5.</strong> Макулдук, анын келип түшкөндүгүн тастыктоого мүмкүндүк берген ар кандай формада берилет. Кыргыз
    Республикасынын мыйзамдарында каралган учурларда, макулдук кагаз жүзүндө же Кыргыз Республикасынын мыйзамдарына
    ылайык кол коюлган электрондук документ түрүндө электрондук колтамга менен таризделет.</p>
<p>&nbsp;</p>
<p><strong>5.6.</strong> Жеке маалыматтарды иштетүүнү токтотуунун шарты жеке маалыматтарды иштеп чыгуу максатында,
    Колдонуучунун макулдугунун же пикирин кайтарып алуу мөөнөтүнүн аякташы, ошондой эле жеке маалыматтарды мыйзамсыз
    иштетүүнү аныктоо болушу мүмкүн.</p>
<p>&nbsp;</p>
<p><strong>5.7</strong>. Жеке маалыматтарды иштеп чыгууда администрация жеке маалыматтарга карата уруксатсыз же кокустан
    кирүүдөн, жок кылуудан, өзгөртүүдөн, блоктоодон, көчүрүүдөн, берүүдөн, жайылтуудан, ошондой эле башка мыйзамсыз
    аракеттерден коргоо үчүн зарыл болгон укуктук, уюштуруучулук жана техникалык чараларды көрөт же кабыл алат.&nbsp;
</p>
<p>&nbsp;</p>
<p><strong>5.8.</strong> Жеке маалыматтарды сактоо, Колдонуучу тарап, пайда табуучу же кепил болуп саналган келишим
    менен жеке маалыматтарды сактоо учурларын кошпогондо, жеке маалыматтарды иштеп чыгуу максатын талап кылбаган
    мөөнөттө, Колдонуучуну аныктоого мүмкүндүк берген формада жүргүзүлөт.</p>
<p>&nbsp;</p>
<p><strong>5.9.</strong> Жеке маалыматтарды сактоодо, Администрация Кыргыз Республикасынын аймагында жайгашкан маалымат
    базаларын колдонот.</p>
<p>&nbsp;</p>
<ol start="6">
    <li><strong> ЖЕКЕ МААЛЫМАТТЫ ЖАҢЫРТУУ, ТҮЗӨТҮҮ, ӨЧҮРҮҮ ЖАНА ЖОК КЫЛУУ, ЖЕКЕ МААЛЫМАТКА КИРҮҮ ҮЧҮН КОЛДОНУУЧУЛАРДЫН
        ӨТҮНҮЧТӨРҮНӨ ЖООПТОР</strong></li>
</ol>
<p>&nbsp;</p>
<p><strong>6.1.</strong> Жеке маалыматтардын так эместиги же аларды иштеп чыгуунун мыйзамсыз фактысы тастыкталган
    учурда, жеке маалыматтар Администрация тарабынан жаңыланууга тийиш, же аларды иштеп чыгуу тиешелүү түрдө токтотулушу
    керек.</p>
<p>&nbsp;</p>
<p><strong>6.2.</strong> Жеке маалыматтардын так эместигинин фактысы же аларды иштетүүнүн мыйзамсыздыгы Колдонуучу
    тарабынан же Кыргыз Республикасынын компетенттүү мамлекеттик органдары тарабынан белгилениши мүмкүн.</p>
<p>&nbsp;</p>
<p><strong>6.3.</strong> Колдонуучунун же анын өкүлүнүн жазуу жүзүндөгү талабы боюнча, Администрация Колдонуучунун жеке
    маалыматтарын иштетүү жөнүндө ал тарабынан жүргүзүлгөн маалыматты берүүгө милдеттүү. Сурамда Колдонуучунун жана анын
    өкүлүнүн инсандыгын күбөлөндүргөн негизги документтин номери, көрсөтүлгөн документтин берилген күнү жана аны
    чыгарган орган жөнүндө маалыматтар, Колдонуучунун Администрация менен мамилелешүүсүн тастыктаган маалыматтар
    (келишимдин номери, келишим түзүлгөн күн, шарттуу оозеки белгилөө жана (же) башка маалымат), же болбосо
    Администрация тарабынан жеке маалыматтарды иштетүү фактысын тастыктаган башка маалыматтар, Колдонуучунун же анын
    өкүлүнүн колу. Сурам электрондук документ түрүндө жөнөтүлүп, Кыргыз Республикасынын мыйзамдарына ылайык электрондук
    колтамга менен кол коюлушу мүмкүн.</p>
<p>&nbsp;</p>
<p><strong>6.4.</strong> Эгерде Колдонуучунун суранычы бардык керектүү маалыматтарды чагылдырбаса же Колдонуучу суралган
    маалыматка жетүү укугуна ээ болбосо, анда ага жүйөлүү баш тартуу жиберилет.</p>
<p>&nbsp;</p>
<p><strong>6.5. </strong>Жеке маалымат жөнүндө мыйзамдын 12-беренесине ылайык, эгерде Колдонуучу жеке маалыматтарына
    карата алардын туура эместигин аныктаса же аракеттердин мыйзамдуулугун талашса, ээсинен бул маалыматтарды бөгөттөөнү
    талап кылууга укуктуу. Жеке маалыматтарды бөгөттөө жана бөгөттөн чыгаруу ушул Мыйзамдын 19-беренесине ылайык
    жүргүзүлөт.</p>
<p>&nbsp;</p>
<p><strong>6.6.</strong> Жеке маалыматтарды иштеп чыгуу максаттарына жетишкенде, ошондой эле Колдонуучу макулдугун
    кайтарып алган учурда, жеке маалыматтар жок кылынат, эгерде:</p>
<ul>
    <li>Администрация Колдонуучунун макулдугусуз иштетүүнү жүзөгө ашырууга укугу жок болсо;</li>
    <li>келишимде пайда табуучу тарап же кепил болгон тарап Колдонуучу болуп саналбаса;</li>
    <li>Администрация менен Колдонуучунун ортосундагы башка келишимде каралбаса.</li>
</ul>
<p>&nbsp;</p>
<ol start="7">
    <li><strong> ЖЫЙЫНТЫК ЖОБОЛОР</strong></li>
</ol>
<p>&nbsp;</p>
<p><strong>7.1.</strong> Ушул Саясатта чагылдырылбаган жеке маалыматтарды иштеп чыгууга байланыштуу бардык мамилелер
    Кыргыз Республикасынын мыйзамдарынын жоболоруна ылайык жөнгө салынат.</p>
<p><br/> <strong>7.2. </strong>Администрация ушул Саясатка өзгөртүүлөрдү киргизүүгө укуктуу. Учурдагы редакцияга
    өзгөртүүлөрдү киргизүүдө акыркы жаңыртуу күнү көрсөтүлөт. Эгерде Саясаттын жаңы редакциясында башка каралбаса,
    Саясаттын жаңы редакциясы Кызматка жайгаштырылган учурдан тартып күчүнө кирет. Учурдагы редакция <a
            href="https://tezsat.kg/">https://tezsat.kg/</a> веб-сайтында тынымсыз жеткиликтүү.</p>
</body>
</html>